Django>=5.2
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3

requests>=2.31
python-dotenv>=1.0

beautifulsoup4>=4.12
newspaper3k>=0.2
markdown2>=2.4

openai>=1.0
cohere>=5.0
