<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h2>Welcome, {{ request.user.username }}</h2>

  <p>
    Daily limit: {{ profile.daily_post_limit }} posts<br>
    Used today: {{ used_today }}<br>
    Remaining today: {{ remaining }}
  </p>

  <p>
    <a href="{% url 'ask_keyword' %}">➕ Generate new article</a> |
   <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="background:none;border:none;color:blue;text-decoration:underline;cursor:pointer;padding:0;">
        Logout
    </button>
</form>
  </p>

  <h3>Your published posts</h3>
  {% if posts %}
    <ul>
      {% for p in posts %}
        <li>
          <strong>{{ p.title }}</strong>
          <a href="{% url 'social_choose' p.id %}">📣 Social Posts</a>

          ({{ p.created_at|date:"Y-m-d H:i" }}) –
          <a href="{{ p.wp_link }}" target="_blank">View on site</a>
          {% if p.keyword %} – keyword: {{ p.keyword }}{% endif %}
          | <a href="{% url 'social_choose' p.id %}">📣 Manage Social</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}


 
</body>
</html>
